@use '@angular/material' as mat;

.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

h1,
h2 {
  margin: 0;
}

mat-spinner {
  margin: 0 auto;
}

.artists-container {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
}

mat-card {
  @include mat.elevation-transition();
  @include mat.elevation(4);

  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
